.headingss{
    margin: 40px 0;
}
.headingss h1{
    font-size: 55.796px;
    text-align: center;
    color:RGB(255, 102, 155);
    margin: 20px 0;
}
.headingss p{
    text-align: center;
    font-size: 20px;
    color:
RGB(8, 41, 77)
}